.cl-filter {
    margin-top: 6px;
	display: inline-block;

	&__item {
		display: inline-block;
	}
		&__button {
			display: inline-block;
			margin-right: 5px;
			padding: 5px 5px 6px;
			font-size: 12px;
			color: #767676;

			-moz-appearance: none;
			-moz-user-select: none;
			background-color: rgba(0, 0, 0, 0);
			border: 0 none;
			border-bottom: 2px solid rgba(0, 0, 0, 0);
			white-space: nowrap;
			text-transform: none;
			overflow: visible;
			cursor: pointer;
			&:hover {
			   border-color: #e5e5e5;
			}
			&--active {
			    border-bottom-color: #d26911;
				color: #333333;
				outline: medium none;
				text-decoration: none;
				&:hover {
					border-color: #d26911;
				}
			}
		}
}