<ul class="cl-filter">
	{# Generated with JavaScript #}
	{# <li class="cl-filter__item">
		<button class="cl-filter__button cl-filter__button--active" data-regex="">
			All
		</button>
	</li>
	<li class="cl-filter__item">
		<button class="cl-filter__button" data-regex="00-atoms">
			Atoms
		</button>
	</li>
	<li class="cl-filter__item">
		<button class="cl-filter__button" data-regex="01-molecules">
			Molecules
		</button>
	</li>
	<li class="cl-filter__item">
		<button class="cl-filter__button" data-regex="02-organisms">
			Organisms
		</button>
	</li> #}
</ul>