<ul id="{{id}}" class="cl-resultlist">
	{# Generated with JavaScript #}
	{# <li class="cl-resultlist__item">
		<a href="#" class="cl-resultlist__link">
			<span class="cl-resultlist__text">
				Link 1	
			</span>
		</a>
	</li>
	<li class="cl-resultlist__item">
		<a href="#" class="cl-resultlist__link">
			<span class="cl-resultlist__text">
				Link 2	
			</span>
		</a>
		<ul class="cl-resultlist__list">
			<li class="cl-resultlist__item">
				<a href="#" class="cl-resultlist__link">
					<span class="cl-resultlist__text">
						Sublink 1	
					</span>
				</a>
			</li>
			<li class="cl-resultlist__item">
				<a href="#" class="cl-resultlist__link">
					<span class="cl-resultlist__text">
						Sublink 1	
					</span>
				</a>
			</li>
			<li class="cl-resultlist__item">
				<a href="#" class="cl-resultlist__link">
					<span class="cl-resultlist__text">
						Sublink 1	
					</span>
				</a>
				<ul class="cl-resultlist__list">
					<li class="cl-resultlist__item">
						<a href="#" class="cl-resultlist__link">
							<span class="cl-resultlist__text">
								Subsublink 1	
							</span>
						</a>
					</li>
					<li class="cl-resultlist__item">
						<a href="#" class="cl-resultlist__link">
							<span class="cl-resultlist__text">
								Subsublink 1	
							</span>
						</a>
					</li>
					<li class="cl-resultlist__item">
						<a href="#" class="cl-resultlist__link">
							<span class="cl-resultlist__text">
								Subsublink 1	
							</span>
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</li>
	<li class="cl-resultlist__item">
		<a href="#" class="cl-resultlist__link">
			<span class="cl-resultlist__text">
				Link 3	
			</span>
		</a>
	</li> #}
</ul>